body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #13F1FC;
  color: #333;
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Center the background image */
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center items horizontally */
}
